.user {
  display: flex;
  align-items: center;
  &__avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
  }
  &__name {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #232323;
    margin-right: 23px;
  }
  &__menu {
    border: none;
    background: none;
    cursor: pointer;
  }
}

@media (max-width: 936px) {
  .user {
    &__name {
      display: none;
    }
    &__menu {
        display: none;
    }
  }
}

@media (max-width: 760px) {
    .user {
        display: none;
    }
}

// @media (max-width: 360px) {
//     .user {
//         display: none;
//     }
// }
