.header__link {
    font-family: 'Rubik';
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #606060;
    border: none;
    background: none;
    cursor: pointer;
}
.arrow {
    margin-right: 16px;
    margin-left: 16px;
}
