.container{
    margin: 0 auto;
    max-width: 1208px;
    padding: 0 15px;
    box-sizing: content-box;
    flex-basis: 100%;
}
.container-products{
    margin: 0 auto;
    max-width: 1208px;
    padding: 80px 116px;
    box-sizing: content-box;
    flex-basis: 100%;
}